html {
    margin: auto;
    padding: 0px;
}

body {
    margin: auto;
    padding: 0%;
}



nav {
    background-color: aliceblue;
    flex-grow: 1;
    position: relative;
    z-index: 2;
}

section {
    flex-grow: 4;
    background-color: antiquewhite;
}

#dashboard {
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#content {
    display: flex;
    flex-direction: column;
}

header {
    background-color: white;
    border-radius: 55px/10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 20%;
    box-shadow: 0 2px 10px;
}

main {
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 100vh;
}