html {
    margin: auto;
    padding: 0px;
}

body {
    margin: auto;
    padding: 0%;
}



nav {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    flex-grow: 1;
    position: relative;
    z-index: 2;
}

section {
    flex-grow: 4;
    background-color: antiquewhite;
}

#dashboard {
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#content {
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px;
    background-color: white;
    border-radius: 55px/10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 15%;
    box-shadow: 0 0.5px 5px grey;

    display: flex;
    flex-direction: column;
}

header > div {
    display: flex;
    justify-content: space-between;
}

#top {
    background-color: rgb(250, 247, 244);
    height: 40px;
}
#top > span {
    display: flex;
}

input {
    margin: 12px;
    padding: 3px;
    padding-left: 8px;
    height: 20px;
    border-radius: 16px;
    width: 450px;
    border-color: grey;
    border: 0.5px solid grey;
    
}

div > span {
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
}

span > img {
    height: 30px;
}

#bottom {
    background-color: brown;
    flex-grow: 1;
}

main {
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 100vh;
}

li {
    list-style: none;
    padding: 5px;
    display: flex;
    align-items: center;
}

li > img {
    height: 30px;
    padding: 5px;
}
