html {
    margin: auto;
    padding: 0px;
}

body {
    margin: auto;
    padding: 0%;
}

* {
    border: 1px dotted;
}

#beef {
    display: flex;
    height: 100vh;
}

nav {
    flex-grow: 7;
}

main {
    flex-grow: 8;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

header {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

#top {
    flex-grow: 1;
}

#bottom {
    flex-grow: 2;
}

section {
    flex-grow: 10;
    display: flex;
}

#project-view {
    flex-grow: 1;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.project {
    flex: 1 0 300px;
    padding: 15px;
    margin: 50px;
    border: solid;
}

#project-aside {
    flex-grow: 8;
    display: flex;
    flex-direction: column;
}

#announcements {
    margin: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#announcements > div {
    border: solid;
    margin: 10px;
    flex-grow: 1;
}

#trending {
    margin: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#trending > div {
    border: solid;
    margin: 10px;
    flex-grow: 1;
}